@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-style {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(270deg, rgb(168, 235, 242), rgb(235, 252, 217) 47.115%);
  }
}
@layer components {
  .navbar-gradient {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
  }
  
  .navbar-border {
    position: relative;
    background: transparent;
  }
  
  .navbar-border::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px;
    border-radius: 9999px;
    background: linear-gradient(270deg, rgb(108, 136, 141), rgb(166, 234, 241) 50%, rgb(243, 254, 214));
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: 1; /* Ensure the border appears above the blurred content */
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* Configure your theme variables here */
  --font-display: "Inter", "sans-serif";
  --color-primary-500: oklch(0.84 0.18 117.33);
  --spacing: 0.25rem;
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #adb5f4;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-misha-100: #000000;
  --color-elijah-100: #FFFF00;
}

@keyframes rotateY360 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.group:hover .group-hover\:rotate-y-360 {
  animation: rotateY360 0.5s forwards;
}


